@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: "Press Start 2P", monospace;
  background-color: #111827;
  color: #f8f8f8;
}

/* Add hover effects for links and buttons */
button {
  transition: background-color 0.1s ease, color 0.1s ease;
  transition: color 0.1s ease, color 0.1s ease;
}

button:hover {
  background-color: var(--hover-background);
  color: var(--hover-foreground);
}
